<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mountain Travel</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/"><i class="fa fa-pencil" aria-hidden="true"></i> CrazyInk</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/about">About</a>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="http://fb.me/ChatOnn1">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a>
      </ul>
    </div>
  </div>
</nav>
<section class="hero">
  <div class="background-image"></div>
  <div class="hero-content-area">
    <h1>Crazy Ink</h1>
    <h3>Reveal the writer within you</h3>
    <a href="#" class="btn">Start Writing</a>
  </div>
</section>

<section class="packages">
  <h3 class="title">What you can do</h3>
  <p>We offer a variety of mountaineering packages. Whether you've climbed Everest or don't even know what a mountain is, we've got the perfect vacation for you.</p>
  <hr>

  <ul class="grid">
    <li>
      <i class="fa fa-compass fa-4x"></i>
      <h4>Guided Trips</h4>
      <p>Looking for the complete experience? Take a tour with one of our experts. They'll show you secrets that you're likely to miss otherwise.</p>
    </li>
    <li>
      <i class="fa fa-camera-retro fa-4x"></i>
      <h4>Photo Trips</h4>
      <p>Want to experience nature's beauty without all of that annoying exercise? Take a photo tour on one of our mountain buses.</p>
    </li>
    <li>
      <i class="fa fa-bicycle fa-4x"></i>
      <h4>Biking Trips</h4>
      <p>If bicycles are more your speed, consider taking a tour through one of our mountain bike paths. We'll provide the bikes, and lunch too!</p>
    </li>
    <li>
      <i class="fa fa-flag-checkered fa-4x"></i>
      <h4>Racing Trips</h4>
      <p>Got a competitive spirit? Sign up for one of our mountain marathons! Try to reach the summit before anyone else.</p>
    </li>
  </ul>
</section>
<footer>
  <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a>.</p>
  <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
  <ul>
    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
  </ul>
</footer>

</body>
</html>
