.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    background: #ddd;
    color: black;
}